

.flow_container{
   max-width: 600px;
   width: 100%;
   display: flex;
   flex-direction: column;
   transition: background-color .15s ease-in-out;
   cursor: pointer;
}
.flow_container:hover{
   background-color: rgba(0,0,0,0.03);
}
.no-hover:hover{
   background-color: transparent;
}
.flow_body_header{
   display: flex;
   gap: .5rem;
   align-items: center;
}
.flow_body_header span:first-child{
   font-weight: 700;
}
.flow_body_header span:nth-child(2){
   color: rgb(83, 100, 113);
}
.flow_body_header span:last-child{
   height: 34px;
   width: 34px;
   margin-left: auto;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .15s ease-in-out;
   color: rgb(83, 100, 113);
}
.flow_body_header span:last-child > svg{
   cursor: pointer;
   font-size: 15px;
   vertical-align: text-bottom;
   width: 1.25em;
   height: 1.25em;
   fill: currentcolor;
}
.flow_body_header span:last-child:hover{
   color: rgba(29,155,240,1.00);
   background-color: rgba(29, 155, 240, 0.10);
}

.flow_each{
   border-bottom: 1px solid rgba(239,243,244,1.00);
   cursor: pointer;
   display: flex;
   width: 100%;
   box-sizing: border-box;
   padding-inline: 16px;
   padding-bottom: 6px;
   padding-top: 4px;
}
.no-bbottom{
   border: none;
}
.flow_each_left>div{
   width: 44px;
   height: 44px;
   background-image: cover;
   background-position: center;
   background-size: contain;
   border-radius: 50%;
   margin-top: 10px;
}

.flow_each_right{
   padding-left: 10px;
   width: 100%;
}
.flow_body_content{
   padding-top: 8px;
}
.flow_body_content_inner{
   width: 100%;
   display: flex;
}
.media-holder{
   width: 100%;
   height: 100%;
}
.media-holder-inner{
   width: 100%;
   height: 100%;
   display: grid;
   gap: .3rem;
}
.media-holder-inner > * {
   width: 100%;
   height: 100%;
   border-radius: 16px;
}
.twoMedia{
   flex-wrap: wrap;
   gap: .2rem;
}
.twoMedia>*{
   width: calc(50% - 2px);
   min-height: 240px;
}
.threeMedia{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: .2rem;
}
.img-additional{
   min-height: 300px;
   max-height: 500px;
}
.f0{
   grid-column: 1;
   grid-row: span 2;
}
.f1{
   grid-column: 2;
   grid-row: 1;
}
.f2{
   grid-column: 2;
   grid-row: 2;
}
.flow_body_footer{
   display: flex;
   align-items: center;
}
.flow_body_footer_left{
   display: flex;
   gap: 3rem;
}
.flow_body_footer_right{
   margin-left: auto;
   gap: .7rem;
}
.description{
   margin-bottom:10px;
}
.flow_body_footer>div{
   display: flex;
}
.flow_body_footer_left>div>svg, .flow_body_footer_right>div>svg{
   font-size: 15px;
   vertical-align: text-bottom;
   fill: currentcolor;
   height: 19px;
   width: 19px;
}
.flow_body_footer_left>div>span{
   font-size: 14px;
   color: rgb(83, 100, 113);
}

.flow_body_footer_right > div{
   height: 33px;
   width: 33px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(83, 100, 113);
   transition: all .15s ease-in-out;
}
.flow_body_footer_right>div:hover{
   background-color: rgba(29, 155, 240, 0.10);
   color: rgba(29, 155, 240, 1.00);
}
.flow_body_footer_left>div{
   display: flex;
   justify-content: center;
   align-items: center;
}
.flow_body_footer_left>div>svg {
   color: rgb(83, 100, 113);
   transition: all .15s ease-in-out;
   padding: 6px;
   border-radius: 50%;
}
.flow_body_footer_left>div:hover .reply{
   color: rgba(29, 155, 240, 1.00);
   transition: all .15s ease-in-out;
}
.flow_body_footer_left>div:hover .reply_svg{
   transition: all .2s ease-in-out;
   background-color: rgba(29, 155, 240, 0.10);
   color: rgba(29, 155, 240, 1.00);
}
.flow_body_footer_left>div:hover .repost{
   color: rgba(0, 186, 124);
   transition: all .15s ease-in-out;
}
.flow_body_footer_left>div:hover .repost_svg{
   transition: all .2s ease-in-out;
   background-color: rgba(0, 186, 124, 0.1);
   color: rgba(0, 186, 124);
}
.flow_body_footer_left>div:hover .like{
   color: rgb(249, 24, 128);
   transition: all .15s ease-in-out;
}
.flow_body_footer_left>div:hover .like_svg{
   transition: all .2s ease-in-out;
   background-color: rgba(249, 24, 128, 0.1);
   color: rgba(249, 24, 128);
}
.flow_body_footer_left>div:hover .like-span{
   transition: all .2s ease-in-out;
   color: rgba(249, 24, 128);
}
.flow_body_footer_left>div:hover .view {
   color: rgba(29, 155, 240, 1.00);
   transition: all .15s ease-in-out;
}
.flow_body_footer_left>div:hover .view_svg {
   transition: all .2s ease-in-out;
   background-color: rgba(29, 155, 240, 0.10);
   color: rgba(29, 155, 240, 1.00);
}
.like-text{
   color: rgba(249, 24, 128) !important;
}
.like-active>g{
   fill: rgba(249, 24, 128);
}


