


.privacy_container {
   min-height: 400px;
   max-width: 80vw;
   max-height: 90vh;
   height: 650px;
   min-width: 600px;
   flex-shrink: 1;
   border-radius: 16px;
   background-color: rgba(255, 255, 255, 1.00);
   z-index: 5;
   display: flex;
   flex-direction: column;
}

.privacy_header {
   height: 53px;
   max-width: 600px;
   display: flex;
   align-items: center;
   width: 100%;
   margin-inline: auto;
   padding-left: 16px;
   padding-right: 16px;
   box-sizing: border-box;
}


.privacy_body{
   display: flex;
   max-width: 600px;
   flex-shrink: 1;
   width: 100%;
   flex-grow: 1;
   margin-left: auto;
   margin-right: auto;
   flex-basis: auto;
   flex-direction: column;
}

.privacy_label{
   display: flex;
   margin-top: 12px;
   align-items: center;
   flex-basis: auto;
   flex-shrink: 0;
   flex-grow: 1;
   justify-content: space-between;
   height: 36px;
}

.span12, .span22{
   color: rgb(83,100,113);
   line-height: 16px;
   font-size: 13px;
   font-weight: 400;
   display: inline-block;
}

.privacy_second{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 12px;
}

.privacy_label_first{
   height: 36px;
   display: flex;
   flex-direction: column;
   width: 408px;
}


